body{
    /* background: turquoise;   */
    background: url("./dashboardhci2.png") no-repeat left center fixed;
    
}
h1,p{
    color: black;
    text-align: center;
    text-justify: auto;
    font: bold;
}
a{
    font: bold;
    text-align: center;
    
}
